body {
    font-family: Roboto, 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header,
.footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.signup-hero{
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 8px 16px;
    border-radius: 8px;
}


.image {
    height: 200px;
    width: 200px;
    min-width: 200px;
    min-height: 200px;
    border: 4px solid #3882f6;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

/*Header*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 400px 25px 400px;
}

.left .logo {
    width: 60px;
    height: auto;
}

/* Hero */

.hero {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.content {
    font-size: 18px;
    color: #e5e7eb;
}

.placeholder {
    width: 500px;
    height: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 30px black;
}

.container-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 500px;
    margin-right: 100px;
    gap: 10px;
}

.signup-hero {
    width: 100px;
    border-style: none;
    font-weight: bold;
}

.text {
    font-weight: bolder;
}

/* Information section*/

.random-information {
    display: flex;
    flex-flow: column;
    text-align: center;
    padding: 100px;
}

.information-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 30px;

}

.images-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

}

.info {
    max-width: 300px;
}

/*Quote section*/

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.quote-container {
    max-width: 520px;
}

.quote-section {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quoter {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 60px;
    font-weight: bolder;
}
/* Sign up section*/

.signup-container{
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}
.bigcontainer{
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
    background-color: #3882f6;
}
.signup-footer{

    background-color: #3882f6;
    color: #e5e7eb;
    padding: 8px 16px;
    border-radius: 8px;
    border: 2px solid white;
    width: 100px;
    height: fit-content;

}

.title-signup,
.content-signup{
    color: white;
}

.title-signup{
    font-weight: 900;
    font-size: 25px;
    margin-bottom: 3px;
}
/*Footer*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}